*{
    margin:0;
    padding:0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
:root{
    --background-color: #DFD4C0;
    --border-image: 10%;
    --color-button:#EBDADA;
}
.fondo{
    background-color: var(--background-color);
}
.card__image{
    width: 500px;
    border-radius: 10%;
}